# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.sass-cache

/styles/css/*

README.md
acorn
acorn.cmd
ansi-html
ansi-html.cmd
atob
atob.cmd
babylon
babylon.cmd
browserslist
browserslist.cmd
cssesc
cssesc.cmd
csso
csso.cmd
detect
detect-port
detect-port.cmd
detect.cmd
errno
errno.cmd
escodegen
escodegen.cmd
esgenerate
esgenerate.cmd
eslint
eslint.cmd
esparse
esparse.cmd
esvalidate
esvalidate.cmd
handlebars
handlebars.cmd
he
he.cmd
html-minifier
html-minifier.cmd
import-local-fixture
import-local-fixture.cmd
in-install
in-install.cmd
in-publish
in-publish.cmd
internal-ip
internal-ip.cmd
is-ci
is-ci.cmd
jest
jest-runtime
jest-runtime.cmd
jest.cmd
js-yaml
js-yaml.cmd
jsesc
jsesc.cmd
json5
json5.cmd
loose-envify
loose-envify.cmd
miller-rabin
miller-rabin.cmd
mime
mime.cmd
mkdirp
mkdirp.cmd
multicast-dns
multicast-dns.cmd
node-gyp
node-gyp.cmd
node-sass
node-sass.cmd
nopt
nopt.cmd
not-in-install
not-in-install.cmd
not-in-publish
not-in-publish.cmd
package-lock.json
package.json
rc
rc.cmd
react-scripts
react-scripts.cmd
regjsparser
regjsparser.cmd
rimraf
rimraf.cmd
sane
sane.cmd
sassgraph
sassgraph.cmd
semver
semver.cmd
sha.js
sha.js.cmd
sshpk-conv
sshpk-conv.cmd
sshpk-sign
sshpk-sign.cmd
sshpk-verify
sshpk-verify.cmd
strip-indent
strip-indent.cmd
svgo
svgo.cmd
sw-precache
sw-precache.cmd
uglifyjs
uglifyjs.cmd
uuid
uuid.cmd
webpack
webpack-dev-server
webpack-dev-server.cmd
webpack.cmd
which
which.cmd
