# general
node_modules
package-lock.json
.DS_Store
.sass-cache

# config/keys
app/config/dev.js
app/config/test.js
app/config/gcs_keys.json
db/config/config.json

# profile images
imgs/pfps/*

# other
touch
touch.cmd