/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.AboutUs {
  display: table;
  height: 100%;
  width: 100%; }

.AboutUs-middle {
  display: table-cell;
  vertical-align: middle; }

.AboutUs-inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center; }

.boldThis {
  text-shadow: 0px 0.5px 0px; }

.TeamImages {
  display: block;
  float: left;
  margin-right: 5px;
  width: 100%;
  text-align: center; }

.TeamImages img {
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px; }

.MemberName {
  display: block; }
