/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.AboutUs {
  display: table;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1.5em; }
  .AboutUs .AboutUs-middle {
    display: table-cell;
    vertical-align: middle; }
  .AboutUs .AboutUs-inner {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center; }
  .AboutUs .TeamImages {
    padding-top: 20px; }
  .AboutUs table {
    margin: 0px auto;
    text-align: center; }
  .AboutUs td {
    border: none; }
  .AboutUs .TeamImages img {
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 10px solid #de9e36;
    border-radius: 5px;
    background: #32323e; }
