/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans:300);
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px; }

h2,
h3,
p,
a,
form,
.bio {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #e8e8e8;
  text-decoration: none; }

textarea,
input {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif; }

a {
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .2s; }

a:hover {
  color: #ab1e24; }

.container {
  padding: 12px 80px; }

/* buttons */
button {
  padding: 10px 30px;
  font-size: 1.3em;
  background: none;
  border-radius: 3px; }

.button1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 40px;
  border: solid #e8e8e8 2px;
  color: #e8e8e8;
  background: #1e1e2b; }
