/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Home .banner {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #E5E5E5;
  padding-top: 100px; }
  .Home .banner h1 {
    font-size: 80px; }
  .Home .banner .match {
    margin: 50px;
    border-radius: 10px;
    border: #C82128 2px;
    color: #E5E5E5;
    background: #C82128;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }

.Home .matches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px; }
