/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Landing {
  display: table;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center; }

h2 {
  padding-bottom: 10px; }
