/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.loading-screen {
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  background: url("../../images/background2.png");
  background-size: cover; }
  .loading-screen .maskot {
    display: block;
    width: 350px;
    padding-top: 50px; }
