/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.loading-screen {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%; }

.loading-screen {
  background: url("../../images/background2.png");
  background-size: cover; }

.loading-screen .maskot {
  display: block;
  max-width: 350px;
  padding-top: 50px; }
