/* util */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans:300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* layout */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px; }

h1,
h2,
h3,
p,
a,
form,
.bio,
table,
button {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #e8e8e8;
  text-decoration: none; }

p, table {
  font-size: 1.1em; }

textarea,
input {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif; }

a {
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  text-decoration: none;
  transition: .2s;
  font-size: 1.1em; }

a:hover {
  color: #ab1e24; }

.banner {
  width: 0 auto;
  margin: 0 auto;
  text-align: center;
  color: #e8e8e8;
  padding-bottom: 50px; }

h1 {
  font-size: 45px;
  padding-top: 50px;
  padding-bottom: 10px; }

.container-custom {
  padding: 12px 80px; }

/* buttons */
button {
  padding: 10px 30px;
  font-size: 1.3em;
  background: none;
  border-radius: 3px; }

.button1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 40px;
  border: solid #e8e8e8 2px;
  color: #e8e8e8;
  background: #1e1e2b; }

.button1:hover {
  color: #1e1e2b;
  background-color: #e8e8e8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  z-index: 1;
  border-radius: 2px;
  margin-top: 1px; }

.dropdown-content a {
  float: none;
  color: #1e1e2b;
  margin: 1px;
  text-decoration: none;
  display: block;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .2s; }

.dropdown-content a:hover {
  color: #ab1e24; }

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center; }

.navbar {
  background: #1e1e2b; }
  .navbar .logo:hover {
    color: #deb841 !important; }
  .navbar .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1; }
  .navbar .nav-item {
    margin-top: 20px;
    padding-left: 1.5em !important; }
  .navbar .nav-item:hover {
    color: #ab1e24 !important; }
  .navbar .nav-rm-item {
    padding-right: 84px !important; }
  .navbar .nav-item,
  .navbar .nav-link {
    color: #bfbdc1 !important; }
    .navbar .nav-item .nav-item:hover,
    .navbar .nav-item .nav-link:hover,
    .navbar .nav-link .nav-item:hover,
    .navbar .nav-link .nav-link:hover {
      color: #ab1e24 !important; }
  .navbar .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important; }
  .navbar div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  .navbar div.dropdown-item:active {
    background-color: white; }
  .navbar .pending-item-text.center {
    text-align: center; }
  .navbar .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500; }
  .navbar .pending-item-remove {
    flex: 1;
    color: #ab1e24; }
  .navbar .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Content {
  background: #1e1e2b; }

.loading-screen, .not-found-screen {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%; }

.loading-screen, .not-found-screen {
  background: url("../../images/background2.png");
  background-size: cover; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Footer {
  display: flex;
  background: #1e1e2b;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  box-shadow: 0px -2px 5px; }

.right-footer nav a {
  display: inline-block;
  padding: 3px 20px; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
h2 {
  font-size: 1.5em;
  color: #deb841;
  padding-bottom: 5px; }

h3 {
  font-size: x-large;
  font-weight: 600;
  color: #ab1e24; }

/* pages */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Home .match {
  margin: 50px;
  border-radius: 5px;
  border: #c82128 2px;
  color: #e8e8e8;
  background: #c82128;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px; }

.Home button:hover {
  background: #7b1115; }

.Home .matches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-bottom: 20px;
  padding-top: 20px; }

@media only screen and (max-width: 1250px) {
  .Home .matches {
    grid-template-columns: 1fr 1fr 1fr; } }

@media only screen and (max-width: 1025px) {
  .Home .matches {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 700px) {
  .Home .matches {
    grid-template-columns: 1fr; } }

.Home .spinner {
  padding-top: 120px;
  width: 150px;
  margin: 0 auto; }

.Home .filter {
  width: 100%; }
  .Home .filter .sort {
    display: flex; }

.Home .FilterButtons {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: solid #bfbdc1; }
  .Home .FilterButtons .right {
    text-align: right; }
  .Home .FilterButtons .left {
    text-align: center; }
    .Home .FilterButtons .left button {
      padding: 10px; }
  .Home .FilterButtons .selected {
    background: #c82128; }
  .Home .FilterButtons button:hover {
    cursor: pointer; }

.Home button {
  border: none;
  background: #7b1115;
  border-radius: 0px !important; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.landing {
  display: table;
  height: 100%;
  width: 100vw;
  background: url("../../images/background2.png");
  background-size: cover; }
  .landing .maskot {
    width: 350px;
    text-align: center;
    padding-top: 50px; }
  .landing .landing-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center; }
  .landing .middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .landing .inner {
    padding: 20px 7px;
    text-align: center; }
  .landing h2 {
    padding-bottom: 10px;
    color: #ab1e24;
    text-shadow: 0px 0px 2px #c82128; }
  .landing a {
    text-decoration: none; }
  .landing .button1 {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #ab1e24;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .button1:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .landing .facebook {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #3b5998;
    font-size: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .facebook:hover {
    background-color: #4c68a1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .landing .discord {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    padding: 5px;
    color: #e8e8e8;
    background: #7289da;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .discord:hover {
    background-color: #7e93dd;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.AboutUs {
  display: table;
  height: 100%;
  width: 100%; }

.AboutUs-middle {
  display: table-cell;
  vertical-align: middle; }

.AboutUs-inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center; }

.boldThis {
  text-shadow: 0px 0.5px 0px; }

.TeamImages {
  display: block;
  float: left;
  margin-right: 5px;
  width: 100%;
  text-align: center; }

.TeamImages img {
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px; }

.MemberName {
  display: block; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Privacy {
  display: table;
  height: 100%;
  width: 100%; }

.Privacy-middle {
  display: table-cell;
  vertical-align: middle; }

.Privacy-inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: left; }

.PrivacyTitle {
  text-align: center; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.ContactForm form {
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  background: #e8e8e8;
  border-radius: 5px;
  border-bottom: 10px solid #de9e36;
  text-align: center; }

.ContactForm .field {
  width: 100%;
  padding: 2px 5px;
  margin-bottom: 7px;
  text-align: left !important; }

.ContactForm label {
  color: #1e1e2b;
  font-size: 1.3em;
  text-align: left;
  padding-bottom: 3px; }

.ContactForm input {
  border: solid #bfbdc1 1px;
  border-radius: 5px;
  font-size: 1.3em;
  width: 100%;
  padding: 1px; }

.ContactForm textarea {
  font-size: 1.3em;
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  padding-left: 1px;
  padding-top: 1px;
  border-radius: 5px;
  border: solid #bfbdc1 1px;
  resize: none; }

.ContactForm .submit {
  width: 150px;
  border-radius: 5px;
  color: #e8e8e8;
  background: #ab1e24;
  text-align: center; }

.ContactForm .submit:hover {
  background-color: #c82128;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.ContactForm button:hover {
  cursor: pointer; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Matches h3 {
  text-transform: uppercase; }

.Matches img {
  align: left;
  width: 150px;
  border-radius: 4px 0px 0px 0px; }

.Matches .UserDescription {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 10px; }

.Matches .RemoveUser {
  float: right;
  color: #ab1e24 !important;
  padding-top: 10px; }

.Matches .matches-list {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 40px; }
  .Matches .matches-list li {
    padding-right: 15px;
    background: #bfbdc1;
    border-bottom: 10px solid #de9e36;
    border-radius: 5px;
    margin-bottom: 20px; }
  .Matches .matches-list .rate-user {
    padding-left: 5px; }
  .Matches .matches-list .rate {
    display: inline-block; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.loading-screen .maskot {
  display: block;
  max-width: 350px;
  padding-top: 50px; }

.Profile {
  background: #e8e8e8;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px;
  margin-bottom: 40px;
  max-width: 720px;
  text-align: center;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold; }
  .Profile .pfp {
    padding-bottom: 5px; }
  .Profile h1 {
    color: #e8e8e8 !important; }
  .Profile p {
    color: #1e1e2b !important;
    padding-bottom: 5px; }
  .Profile span {
    padding-bottom: 20px; }
  .Profile .info {
    color: #6d6a75 !important; }
  .Profile .user-info {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px; }
  .Profile .profile-details {
    padding-top: 2em;
    padding-bottom: 2em; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.not-found-screen h1,
.not-found-screen h3 {
  color: #ab1e24; }

.not-found-screen h1 {
  font-size: 3.5em;
  padding-top: 0;
  padding-bottom: 10px;
  text-shadow: 0px 0px 2px #c82128; }

.not-found-screen h3 {
  font-size: 2.2em;
  padding-bottom: 0.2em; }

.not-found-screen .not-found-content {
  margin-top: 10%; }

.not-found-screen .row {
  height: 100%; }

/* components */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.MatchCard {
  background: #d1d1d1;
  padding-bottom: 21px;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; }
  .MatchCard .button2 {
    text-align: center;
    margin: auto auto;
    padding: 15px;
    color: #1e1e2b; }
  .MatchCard .button2:hover {
    color: #7b1115; }
  .MatchCard .button2:active {
    color: #ab1e24;
    transform: translateY(3px); }
  .MatchCard .profile-pic {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .MatchCard .star-rating {
    padding: 10px;
    position: absolute;
    margin: 0 auto; }
  .MatchCard .display-name {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5px;
    text-transform: uppercase; }
    .MatchCard .display-name h3 {
      color: #c82128;
      text-align: center; }
    .MatchCard .display-name label {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      color: #e8e8e8;
      margin-left: 5px; }
    .MatchCard .display-name label.CN {
      background: #ab1e24; }
    .MatchCard .display-name label.NA {
      background: #4c68a1; }
    .MatchCard .display-name label.SEA {
      background: #2c7873; }
    .MatchCard .display-name label.JP {
      background: white;
      color: #ab1e24; }
    .MatchCard .display-name label.OCE {
      background: #8b72be; }
  .MatchCard .bio {
    padding: 20px;
    margin-bottom: 10px;
    color: #1e1e2b !important; }
  .MatchCard .button-group {
    display: flex;
    margin: auto auto;
    text-align: center; }
  .MatchCard .button1 {
    position: center;
    border-radius: 5px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #ab1e24;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
    margin: 10px; }
  .MatchCard .button1:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.MatchCard:hover {
  cursor: pointer; }

.MatchMeter {
  display: inline-block;
  margin: 0 auto; }
  .MatchMeter .heart-fill {
    mask: url("../../images/heart_mask.png");
    mask-size: cover; }
  .MatchMeter .heart {
    background: url("../../images/pixel_heart.png");
    background-size: cover; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Registration {
  background-size: cover;
  height: 100%;
  padding: 40px; }
  .Registration .PfpInput label {
    color: #1e1e2b;
    padding-bottom: 3px; }
  .Registration .question {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1e1e2b; }
  .Registration .title {
    text-align: center;
    font-size: 2em;
    color: #1e1e2b;
    padding-bottom: 5px; }
  .Registration .RegistrationForm {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    background: #e8e8e8;
    border-radius: 5px;
    border-bottom: 10px solid #deb841; }
    .Registration .RegistrationForm h2 {
      color: #ab1e24;
      font-size: 50px;
      padding-bottom: 15px; }
  .Registration .form-body.grid {
    display: grid;
    grid-template: 100% 1fr / 1fr 4fr;
    margin-bottom: 10px; }
    .Registration .form-body.grid .left {
      grid-area: 1 / 1 / 1 / 1; }
    .Registration .form-body.grid .right {
      padding: 12px 20px;
      grid-area: 1 / 2 / 1 / 2; }
    .Registration .form-body.grid .bio {
      grid-area: 2 / 1 / 2 / 3;
      color: #1e1e2b;
      font-size: 1.3em; }
      .Registration .form-body.grid .bio textarea {
        font-size: 1.3em;
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        border-radius: 8px;
        border: solid #bfbdc1 1px;
        padding: 10px; }
  .Registration .footer-buttons1 {
    text-align: right; }
    .Registration .footer-buttons1 .next {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
  .Registration .footer-buttons {
    display: flex;
    justify-content: space-between; }
    .Registration .footer-buttons .previous {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons .next {
      min-width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons button:hover {
      cursor: pointer; }
  .Registration .previous:hover,
  .Registration .next:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .Registration .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    padding: 2px 5px;
    margin-bottom: 7px; }
    .Registration .field input {
      border: solid #bfbdc1 1px; }
    .Registration .field label {
      position: relative;
      flex: 1;
      color: #1e1e2b;
      text-align: left;
      font-size: 1.3em; }
    .Registration .field input,
    .Registration .field select {
      box-sizing: border-box;
      flex: 3;
      font-size: 1.2em;
      padding-left: 10px;
      border-radius: 6px;
      border: solid #bfbdc1 1px;
      width: 100%; }
    .Registration .field .SelectWithError {
      display: flex;
      flex: 3;
      flex-direction: column; }
    .Registration .field .error {
      padding-left: 7px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: red; }

.RadioGroup {
  margin: 20px 0px; }
  .RadioGroup .choices {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 10px 10px; }
  .RadioGroup .choices .three-col {
    grid-template: 1fr 1fr / 1fr 1fr / 1fr 1fr;
    grid-gap: 5px 5px; }
  .RadioGroup label {
    color: #1e1e2b;
    display: block;
    background: #ffffff;
    padding: 15px 10px;
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4); }
    .RadioGroup label input {
      position: relative;
      margin-right: 10px; }
  .RadioGroup label:hover {
    background: #c82128;
    color: #e8e8e8;
    cursor: pointer; }

.RadioGroup.importance .choices {
  grid-template: 1fr / 1fr 1fr 1fr;
  grid-gap: 10px 10px; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.search-input {
  padding-bottom: 5px;
  border-radius: 5px;
  width: 100%; }

.gameList {
  display: flex; }

.listTitle {
  display: flex;
  padding-bottom: 5px; }

.SelectSearch {
  padding-top: 10px;
  padding-bottom: 10px; }
  .SelectSearch input {
    border: solid #bfbdc1 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%; }
  .SelectSearch .results {
    border: solid #bfbdc1 1px;
    background: #7b1115;
    width: 50%;
    border-radius: 2px;
    padding: 5px;
    margin-right: 3px; }
    .SelectSearch .results li {
      padding: 3px;
      color: #e8e8e8; }
  .SelectSearch .select {
    padding: 5px;
    border-radius: 2px;
    width: 50%;
    background: #c82128;
    margin-left: 3px;
    border: solid #bfbdc1 1px; }
    .SelectSearch .select li {
      padding: 3px;
      color: #e8e8e8; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.Notifications {
  position: sticky;
  display: block;
  z-index: 100;
  top: 0; }
  .Notifications .note {
    text-align: center;
    padding: 14px;
    margin-bottom: 2px;
    background: rgba(249, 233, 64, 0.817);
    color: #1e1e2b;
    font-size: 1.1em; }
  .Notifications .note:hover {
    cursor: pointer; }
