/* util */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans:300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* layout */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px; }

h1,
h2,
h3,
p,
a,
form,
.bio {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #e8e8e8;
  text-decoration: none; }

textarea,
input {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif; }

a {
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  text-decoration: none;
  transition: .2s; }

a:hover {
  color: #ab1e24; }

.container-custom {
  padding: 12px 80px; }

/* buttons */
button {
  padding: 10px 30px;
  font-size: 1.3em;
  background: none;
  border-radius: 3px; }

.button1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 40px;
  border: solid #e8e8e8 2px;
  color: #e8e8e8;
  background: #1e1e2b; }

.button1:hover {
  color: #1e1e2b;
  background-color: #e8e8e8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  z-index: 1;
  border-radius: 2px;
  margin-top: 1px; }

.dropdown-content a {
  float: none;
  color: #1e1e2b;
  margin: 1px;
  text-decoration: none;
  display: block;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .2s; }

.dropdown-content a:hover {
  color: #ab1e24; }

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center; }

.navbar {
  background: #1e1e2b; }
  .navbar .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1; }
  .navbar .nav-item {
    padding-left: 1.5em !important; }
  .navbar .nav-rm-item {
    padding-right: 84px !important; }
  .navbar .nav-item,
  .navbar .nav-link {
    color: #bfbdc1 !important; }
  .navbar .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important; }
  .navbar div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  .navbar div.dropdown-item:active {
    background-color: white; }
  .navbar .pending-item-text.no-matches {
    text-align: center; }
  .navbar div.dropdown-item .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500; }
  .navbar div.dropdown-item i {
    flex: 1;
    color: #ab1e24; }
  .navbar .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Content {
  background: #1e1e2b; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Footer {
  display: flex;
  background: #1e1e2b;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  box-shadow: 0px -2px 5px; }

.right-footer nav a {
  display: inline-block;
  padding: 3px 20px; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
h2 {
  font-size: 3em;
  color: #de9e36;
  text-shadow: 0px 0px 2px #bfbdc1; }

h3 {
  font-size: x-large;
  font-weight: 600;
  color: #ab1e24; }

/* pages */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Home .banner {
  width: 0px auto;
  margin: 0 auto;
  text-align: center;
  color: #e8e8e8;
  padding-top: 50px;
  padding-bottom: 30px; }
  .Home .banner h1 {
    font-size: 80px;
    margin-bottom: 50px; }
  .Home .banner .match {
    margin: 50px;
    border-radius: 5px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #c82128;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .Home .banner button:hover {
    background: #ab1e24; }

.Home .matches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-bottom: 40px; }

.Home .spinner {
  padding-top: 120px;
  width: 150px;
  margin: 0 auto; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.landing {
  display: table;
  height: 100%;
  width: 100vw;
  background: url("../../images/background2.png");
  background-size: cover; }
  .landing .maskot {
    width: 350px;
    text-align: center;
    padding-top: 50px; }
  .landing .landing-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center; }
  .landing .middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .landing .inner {
    padding: 20px 7px;
    text-align: center; }
  .landing h2 {
    padding-bottom: 10px;
    color: #ab1e24;
    text-shadow: 0px 0px 2px #c82128; }
  .landing a {
    text-decoration: none; }
  .landing .button1 {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #ab1e24;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .button1:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .landing .facebook {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #3B5998;
    font-size: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .facebook:hover {
    background-color: #4C68A1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .landing .discord {
    position: relative;
    top: 30px;
    margin: 50px;
    border-radius: 10px;
    border: #c82128 2px;
    padding: 5px;
    color: #e8e8e8;
    background: #7289DA;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .landing .discord:hover {
    background-color: #7E93DD;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.AboutUs {
  display: table;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Privacy {
  display: table;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.contact-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .contact-title input {
    margin-bottom: 10px; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Matches .matches-list li {
  padding: 20px;
  background: #bfbdc1;
  margin-bottom: 4px; }

/* components */
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.MatchCard {
  background: #d1d1d1;
  padding-bottom: 21px;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .MatchCard .profile-pic {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .MatchCard .display-name {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5px;
    text-transform: uppercase; }
    .MatchCard .display-name h3 {
      color: #c82128;
      text-align: center; }
  .MatchCard .bio {
    padding: 20px;
    margin-bottom: 10px;
    color: #1e1e2b !important; }
  .MatchCard .button-group {
    width: 100px;
    margin: auto auto;
    text-align: center; }

.MatchCard:hover {
  cursor: pointer; }

.MatchMeter {
  display: inline-block;
  margin: 0 auto; }
  .MatchMeter .heart-fill {
    mask: url("../../images/heart_mask.png");
    mask-size: cover; }
  .MatchMeter .heart {
    background: url("../../images/pixel_heart.png");
    background-size: cover; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Registration {
  background-size: cover;
  height: 100%;
  padding: 40px; }
  .Registration .question {
    font-size: 1.5em;
    color: #1e1e2b; }
  .Registration .title {
    text-align: center;
    font-size: 2em;
    color: #1e1e2b;
    padding-bottom: 5px; }
  .Registration .RegistrationForm {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    background: #e8e8e8;
    border-radius: 15px;
    border-bottom: 10px solid #deb841; }
    .Registration .RegistrationForm h2 {
      color: #ab1e24;
      font-size: 50px;
      padding-bottom: 15px; }
  .Registration .form-body.grid {
    display: grid;
    grid-template: 100% 1fr / 1fr 4fr;
    margin-bottom: 10px; }
    .Registration .form-body.grid .left {
      grid-area: 1 / 1 / 1 / 1; }
    .Registration .form-body.grid .right {
      padding: 12px 20px;
      grid-area: 1 / 2 / 1 / 2; }
    .Registration .form-body.grid .bio {
      grid-area: 2 / 1 / 2 / 3;
      color: #1e1e2b;
      font-size: 1.3em; }
      .Registration .form-body.grid .bio textarea {
        font-size: 1.3em;
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        border-radius: 8px;
        border: solid #bfbdc1 1px; }
  .Registration .footer-buttons {
    display: flex;
    justify-content: space-between; }
    .Registration .footer-buttons .previous {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons .next {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons button:hover {
      cursor: pointer; }
  .Registration .previous:hover,
  .Registration .next:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .Registration .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    padding: 2px 5px;
    margin-bottom: 7px; }
    .Registration .field input {
      border: solid #bfbdc1 1px; }
    .Registration .field label {
      position: relative;
      top: 3px;
      flex: 1;
      color: #1e1e2b;
      text-align: left;
      font-size: 1.3em; }
    .Registration .field input,
    .Registration .field select {
      box-sizing: border-box;
      flex: 3;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 6px;
      border: solid #bfbdc1 1px; }
    .Registration .field .SelectWithError {
      display: flex;
      flex: 3;
      flex-direction: column; }
    .Registration .field .error {
      padding-left: 7px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: red; }

/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.RadioGroup {
  margin: 20px 0px; }
  .RadioGroup .choices {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 10px 10px; }
  .RadioGroup .choices .three-col {
    grid-template: 1fr 1fr / 1fr 1fr / 1fr 1fr;
    grid-gap: 5px 5px; }
  .RadioGroup label {
    color: #1e1e2b;
    display: block;
    background: #ffffff;
    padding: 15px 10px;
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4); }
  .RadioGroup label:hover {
    cursor: pointer; }

.RadioGroup.importance .choices {
  grid-template: 1fr / 1fr 1fr 1fr;
  grid-gap: 10px 10px; }
