@charset "UTF-8";
/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Matches h3 {
  text-transform: uppercase; }

.Matches img {
  align: left;
  width: 150px;
  border-radius: 4px 0px 0px 0px; }

.Matches .UserDescription {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 10px; }

.Matches .RemoveUser {
  float: right;
  color: #ab1e24 !important;
  padding-top: 10px; }

.Matches .matches-list {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 40px; }
  .Matches .matches-list li {
    padding-right: 15px;
    background: #bfbdc1;
    border-bottom: 10px solid #de9e36;
    border-radius: 5px;
    margin-bottom: 20px; }
  .Matches .matches-list .rate-user {
    padding-left: 5px; }
  .Matches .matches-list .rate {
    display: inline-block; }
  .Matches .matches-list .rate:not(:checked) > input {
    position: absolute;
    top: -9999px; }
  .Matches .matches-list .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #1e1e2b; }
  .Matches .matches-list .rate:not(:checked) > label:before {
    content: '★ '; }
  .Matches .matches-list .rate > input:checked ~ label {
    color: #de9e36; }
  .Matches .matches-list .rate:not(:checked) > label:hover, .Matches .matches-list .rate:not(:checked) > label:hover ~ label {
    color: #deb841; }
