.MatchMeter {
  display: inline-block; }
  .MatchMeter .heart-fill {
    mask: url("../../images/heart_mask.png");
    mask-size: cover; }
  .MatchMeter .heart {
    background: url("../../images/pixel_heart.png");
    background-size: cover; }
