/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
.MatchCard {
  background: #d1d1d1;
  padding-bottom: 21px;
  border-bottom: 10px solid #de9e36;
  border-radius: 5px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; }
  .MatchCard .button2 {
    text-align: center;
    margin: auto auto;
    padding: 15px;
    color: #1e1e2b; }
  .MatchCard .button2:hover {
    color: #7b1115; }
  .MatchCard .button2:active {
    color: #ab1e24;
    transform: translateY(3px); }
  .MatchCard .profile-pic {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .MatchCard .star-rating {
    padding: 10px;
    position: absolute;
    margin: 0 auto; }
  .MatchCard .display-name {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5px;
    text-transform: uppercase; }
    .MatchCard .display-name h3 {
      color: #c82128;
      text-align: center; }
    .MatchCard .display-name label {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      color: #e8e8e8;
      margin-left: 5px; }
    .MatchCard .display-name label.CN {
      background: #ab1e24; }
    .MatchCard .display-name label.NA {
      background: #4c68a1; }
    .MatchCard .display-name label.SEA {
      background: #2c7873; }
    .MatchCard .display-name label.JP {
      background: white;
      color: #ab1e24; }
    .MatchCard .display-name label.OCE {
      background: #8b72be; }
  .MatchCard .bio {
    padding: 20px;
    margin-bottom: 10px;
    color: #1e1e2b !important; }
  .MatchCard .button-group {
    display: flex;
    margin: auto auto;
    text-align: center; }
  .MatchCard .button1 {
    position: center;
    border-radius: 5px;
    border: #c82128 2px;
    color: #e8e8e8;
    background: #ab1e24;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
    margin: 10px; }
  .MatchCard .button1:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.MatchCard:hover {
  cursor: pointer; }
