/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.MatchCard {
  .MatchCard .display-name {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5px;
    text-transform: uppercase; }
    .MatchCard .display-name h3 {
      color: #c82128;
      text-align: center; }
  .MatchCard .bio {
    padding: 20px;
    margin-bottom: 10px;
    color: #1e1e2b !important; }
  .MatchCard .button-group {
    width: 100px;
    margin: auto auto;
    text-align: center; }

.MatchCard:hover {
  cursor: pointer; }
