/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.MatchCard {
  background: #32323E;
  padding-bottom: 18px;
  border: 2px solid #ab1e24;
  border-radius: 2px;
  margin-bottom: 20px; }
  .MatchCard .profile-pic {
    display: block;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .MatchCard .display-name {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5px;
    text-transform: uppercase; }
    .MatchCard .display-name h3 {
      color: #c82128;
      text-align: center; }
  .MatchCard .bio {
    padding: 20px;
    margin-bottom: 20px; }
  .MatchCard .button-group {
    width: 100px;
    margin: auto auto;
    text-align: center; }

.MatchCard:hover {
  cursor: pointer; }
