/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  z-index: 1;
  border-radius: 2px;
  margin-top: 1px; }

.dropdown-content a {
  float: none;
  color: #1e1e2b;
  margin: 1px;
  text-decoration: none;
  display: block;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .2s; }

.dropdown-content a:hover {
  color: #ab1e24; }

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center; }

.Navbar {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 20px;
  background: #1e1e2b;
  color: #e8e8e8; }
  .Navbar img {
    float: left;
    width: 60px;
    padding: 3px; }
  .Navbar .logo {
    float: left;
    font-size: 2.7em;
    padding-top: 3px;
    color: #e8e8e8; }
  .Navbar .right-nav {
    padding: 15px;
    margin-right: 50px;
    font-size: 1em; }
    .Navbar .right-nav nav a {
      display: inline-block;
      padding: 3px 20px; }
    .Navbar .right-nav .icon {
      padding: 20px; }
