/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  z-index: 1;
  border-radius: 2px;
  margin-top: 1px; }

.dropdown-content a {
  float: none;
  color: #1e1e2b;
  margin: 1px;
  text-decoration: none;
  display: block;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .2s; }

.dropdown-content a:hover {
  color: #ab1e24; }

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center; }

.navbar {
  background: #1e1e2b; }
  .navbar .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1; }
  .navbar .nav-item {
    padding-left: 1.5em !important; }
  .navbar .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important; }
  .navbar .nav-rm-item {
    padding-right: 84px !important; }
  .navbar .nav-item,
  .navbar .nav-link {
    color: #bfbdc1 !important; }
  .navbar div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  .navbar div.dropdown-item:active {
    background-color: white; }
  .navbar .pending-item-text.no-matches {
    text-align: center; }
  .navbar div.dropdown-item .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500; }
  .navbar div.dropdown-item i {
    flex: 1;
    color: #ab1e24; }
