/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Navbar {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 20px;
  background: #1E1E2B;
  color: #E5E5E5; }
  .Navbar .logo {
    font-size: 2.7em; }
  .Navbar .right-nav {
    padding: 15px; }
    .Navbar .right-nav .button1 {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 17px;
      padding-right: 17px;
      border-radius: 40px;
      border: solid #E5E5E5 2px;
      color: #E5E5E5;
      background: #1E1E2B; }
  .Navbar .right-nav .icon {
    padding: 20px; }
