/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/*notifications*/
/* kittens */
h2 {
  font-size: 1.5em;
  color: #deb841;
  padding-bottom: 5px; }

h3 {
  font-size: x-large;
  font-weight: 600;
  color: #ab1e24; }
