/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
h2 {
  font-size: 3em;
  color: #de9e36;
  text-shadow: 0px 0px 2px #bfbdc1; }

h3 {
  font-size: x-large;
  font-weight: 600;
  color: #ab1e24; }
