/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.QuestionAnswerForm .question {
  font-size: 1.5em;
  color: #1e1e2b; }

.QuestionAnswerForm .AnswerChoices {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 10px 10px;
  margin: 20px 0px; }
  .QuestionAnswerForm .AnswerChoices label {
    color: #1e1e2b;
    display: block;
    background: #ffffff;
    padding: 15px 10px;
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4); }
  .QuestionAnswerForm .AnswerChoices label:hover {
    cursor: pointer; }

.QuestionAnswerForm .range {
  box-sizing: border-box;
  background: red;
  padding: 13px;
  width: 100%; }
