/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.Registration {
  background-size: cover;
  height: 100%;
  padding: 40px; }
  .Registration .PfpInput label {
    color: #1e1e2b;
    padding-bottom: 3px; }
  .Registration .question {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1e1e2b; }
  .Registration .title {
    text-align: center;
    font-size: 2em;
    color: #1e1e2b;
    padding-bottom: 5px; }
  .Registration .RegistrationForm {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    background: #e8e8e8;
    border-radius: 5px;
    border-bottom: 10px solid #deb841; }
    .Registration .RegistrationForm h2 {
      color: #ab1e24;
      font-size: 50px;
      padding-bottom: 15px; }
  .Registration .form-body.grid {
    display: grid;
    grid-template: 100% 1fr / 1fr 4fr;
    margin-bottom: 10px; }
    .Registration .form-body.grid .left {
      grid-area: 1 / 1 / 1 / 1; }
    .Registration .form-body.grid .right {
      padding: 12px 20px;
      grid-area: 1 / 2 / 1 / 2; }
    .Registration .form-body.grid .bio {
      grid-area: 2 / 1 / 2 / 3;
      color: #1e1e2b;
      font-size: 1.3em; }
      .Registration .form-body.grid .bio textarea {
        font-size: 1.3em;
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        border-radius: 8px;
        border: solid #bfbdc1 1px;
        padding: 10px; }
  .Registration .footer-buttons1 {
    text-align: right; }
    .Registration .footer-buttons1 .next {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
  .Registration .footer-buttons {
    display: flex;
    justify-content: space-between; }
    .Registration .footer-buttons .previous {
      width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons .next {
      min-width: 150px;
      border-radius: 15px;
      color: #e8e8e8;
      background: #ab1e24;
      text-align: center; }
    .Registration .footer-buttons button:hover {
      cursor: pointer; }
  .Registration .previous:hover,
  .Registration .next:hover {
    background-color: #c82128;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .Registration .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    padding: 2px 5px;
    margin-bottom: 7px; }
    .Registration .field input {
      border: solid #bfbdc1 1px; }
    .Registration .field label {
      position: relative;
      flex: 1;
      color: #1e1e2b;
      text-align: left;
      font-size: 1.3em; }
    .Registration .field input,
    .Registration .field select {
      box-sizing: border-box;
      flex: 3;
      font-size: 1.2em;
      padding-left: 10px;
      border-radius: 6px;
      border: solid #bfbdc1 1px;
      width: 100%; }
    .Registration .field .SelectWithError {
      display: flex;
      flex: 3;
      flex-direction: column; }
    .Registration .field .error {
      padding-left: 7px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: red; }
