/* Chuck your variables in here*/
/* colors */
/* sizes */
/* backgrounds */
/* paddings */
/* border */
/* kittens */
.search-input {
  padding-bottom: 5px;
  border-radius: 5px;
  width: 50%; }

.SelectSearch {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px; }
  .SelectSearch .results {
    background: #7b1115;
    width: 49.5%;
    border-radius: 5px;
    padding: 5px; }
    .SelectSearch .results li {
      padding: 3px;
      color: #e8e8e8; }
  .SelectSearch .selected {
    padding: 5px;
    border-radius: 5px;
    width: 49.5%;
    background: #ab1e24; }
    .SelectSearch .selected li {
      padding: 3px; }

.genres {
  border: solid white; }
