/* Chuck your variables in here*/

/* colors */
$red: white;
$blue: white;
$green: white;
$light_grey: #ccc;

/* sizes */
$navbar_height: 80px;
$footer_height: 80px;

$match_columns: 1fr 1fr 1fr 1fr;
$match_column_gap: 40px;
$match_row_gap: 40px;
$match_border: 1px solid $light_grey;

/* backgrounds */
$footer_background: #37323E;

/* paddings */
$container_padding_width: 80px;
$container_padding_height: 12px;

$match_card_padding: 20px;
$match_card_name_size: 1.4em;

/* border */
$match_card_border: 1px solid $light_grey;

/* kittens */
