/* Chuck your variables in here*/

/* colors */
$red: white;
$blue: white;
$green: white;
$light_grey: #ccc;

/* sizes */
$navbar_height: 100px;
$footer_height: 100px;

$match_columns: 1fr 1fr 1fr 1fr;

/* backgrounds */
$footer_background: $light_grey;

/* paddings */
$container_padding_width: 20px;
$container_padding_height: 12px;

/* kittens */
