@import 'variables';

.AboutUs {
  display: table;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1.5em;

  .AboutUs-middle {
    display: table-cell;
    vertical-align: middle;
  }

  .AboutUs-inner {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
  }

  .TeamImages {
    padding-top: 20px;
  }

  table {
    margin: 0px auto;
    text-align: center;
  }

  td {
    border: none;
  }

  .TeamImages img {
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 10px solid $dark_yellow;
    border-radius: 5px;
    background: $dark_grey;
  }
}
