@import 'variables';

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: $navbar_height 1fr $footer_height;
}

a {
  color: none;
  text-decoration: none;
}

.container {
  padding: $container_padding_height $container_padding_width;
}

/* buttons */

button {
  padding: 10px 30px;
  font-size: 1.3em;
  background: none;
  border-radius: 3px;
}
