@import 'variables';

.ContactForm {
  form {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    background: $white;
    border-radius: 5px;
    border-bottom: 10px solid $yellow;
    text-align: center;
  }

  .field {
    width: 100%;
    padding: 2px 5px;
    margin-bottom: 7px;
    text-align: left !important;
  }

  label {
    color: $gunmetal;
    font-size: 1.3em;
    text-align: left;
    padding-bottom: 3px;
  }

  input {
    border: solid $light_grey 1px;
    border-radius: 5px;
    font-size: 1.3em;
    width: 100%;
    padding: 1px;
  }

  textarea {
    font-size: 1.3em;

    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    padding-left: 1px;
    padding-top: 1px;

    border-radius: 5px;
    border: solid $light_grey 1px;

    resize: none;
  }

  .submit {
    width: 150px;
    border-radius: 5px;
    color: $white;
    background: $red;
    text-align: center;
  }

  .submit:hover {
    background-color: $light_red;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  button:hover {
    cursor: pointer;
  }
}
