@import 'variables';

.Home {
  .banner {
    width: 240px;
    margin: 0 auto;
  }

  .matches {
    display: grid;
    grid-template-columns: $match_columns;
    grid-column-gap: $match_column_gap;
    grid-row-gap: $match_row_gap;
  }
}
