@import 'variables';

.Home {
  .banner {
    width: 0px auto;
    margin: 0 auto;
    text-align: center;
    color: $white;
    padding-top: 50px;

    h1 {
      font-size: 80px;
      margin-bottom: 50px;
    }

    .match {
      margin: 50px;
      border-radius: 10px;
      border: $light_red 2px;
      color: $white;
      background: $light_red;
      font-size: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
    button:hover {
      background: $red;
    }
  }

  .matches {
    display: grid;
    grid-template-columns: $match_columns;
    grid-column-gap: $match_column_gap;
    grid-row-gap: $match_row_gap;
  }

  .spinner {
    padding-top: 120px;
    width: 150px;
    margin: 0 auto;
    // background: red;
  }
}
