@import 'variables';

.MatchCard {
  background: $match_card_background;
  padding-bottom: 18px;
  border-bottom: 2px solid $yellow;

  .profile-pic {
    display: block;
    width: 100%;
  }

  .display-name {
    padding: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: $match_card_name_size;
  }

  .bio {
    padding: $match_card_padding;
    margin-bottom: 10px;
  }

  .button-group {
    width: 100px;
    margin: auto auto;
  }
}

.MatchCard:hover {
  cursor: pointer;
}
