.MatchMeter {
  display: inline-block;

  .heart-fill {
    mask: url('../../images/heart_mask.png');
    mask-size: cover;
  }
  .heart {
    background: url('../../images/pixel_heart.png');
    background-size: cover;
  }
}
