@import 'variables';

.MatchCard {
  background: #d1d1d1;
  padding-bottom: 21px;
  border-bottom: 10px solid $dark_yellow;
  border-radius: 5px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  .button2 {
      text-align: center;
      margin: auto auto;
      padding: 15px;
  }

  .profile-pic {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .star-rating {
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    // left: 27%;
  }

  .display-name {
    // padding: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: $match_card_name_size;
    padding-top: 5px;
    text-transform: uppercase;

    h3 {
      color: $light_red;
      text-align: center;
    }
    label {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      color: $white;
      margin-left: 5px;
    }
    label.CN {
      background: $red;
    }
    label.NA {
      background: $blue;
    }
    label.SEA {
      background: $green;
    }
    label.JP {
      background: white;
      color: $red;
    }
    label.OCE {
      background: $purple;
    }
  }

  .bio {
    padding: $match_card_padding;
    margin-bottom: 10px;
    color: $gunmetal !important;
  }

  .button-group {
    display: flex;
    margin: auto auto;
    text-align: center;
  }
  .button1 {
    position: center;
    border-radius: 5px;
    border: $light_red 2px;
    color: $white;
    background: $red;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
    margin: 10px;
  }
  .button1:hover {
    background-color: $light_red;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.MatchCard:hover {
  cursor: pointer;
}
