@import 'variables';

.Matches {
  h3 {
    text-transform: uppercase;
  }

  img {
    align: left;
    width: 150px;
    border-radius: 4px 0px 0px 0px;
  }

  .UserDescription {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
  }

  .RemoveUser {
    //display: flex;
    float: right;
    color: $red !important;
    padding-top: 10px;
  }

  .matches-list {
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 40px;

    li {
      padding-right: 15px;
      background: $light_grey;
      border-bottom: 10px solid $dark_yellow;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .rate-user {
      padding-left: 5px;
    }

    .rate {
    display: inline-block;
    }

    .rate:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }

    .rate:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #1e1e2b;
    }

    .rate:not(:checked) > label:before {
      content: '★ ';
    }

    .rate > input:checked ~ label {
      color: #de9e36;
    }

    .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
      color: #deb841;
    }
  }
}
