@import 'variables';
@import 'Dropdown';

.navbar {
  background: $gunmetal;

  .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1;
  }

  .nav-item {
    padding-left: 1.5em !important;
  }

  // right most item, padding on nav is 16px - for alignning with footer
  .nav-rm-item {
    padding-right: 84px !important;
  }

  .nav-item,
  .nav-link {
    color: #bfbdc1 !important;
  }

  // Styling for the Dropdown box
  .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important;
  }

  div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  div.dropdown-item:active {
    background-color: white;
  }

  .pending-item-text.no-matches {
    text-align: center;
  }

  div.dropdown-item .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500;
  }

  div.dropdown-item i {
    flex: 1;
    color: $red;
  }

  // make text unselectable
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
