@import 'variables';
@import 'Dropdown';

.navbar {
  background: $gunmetal;

  .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1;
  }

  .nav-item {
    padding-left: 1.5em !important;
  }

  .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important;
  }

  // right most item, padding on nav is 16px
  .nav-rm-item {
    padding-right: 84px !important;
  }

  .nav-item,
  .nav-link {
    color: #bfbdc1 !important;
  }

  div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-nav {
    padding-top: 30px;
    margin-right: 50px;
    font-size: 1em;

    nav {
      a {
        display: inline-block;
        padding: 3px 20px;
        text-decoration: none;
      }
    }
    .navbar-nav ml-auto:hover {
      color: white;
    }

    .icon {
      padding: 20px;
    }
  }
  //Styling for the drop down box
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .pending-item-text.no-matches {
    text-align: center;
  }

  div.dropdown-item .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    a:hover {
      color: $red;
      text-decoration: none;
    }
  }
}
