@import 'variables';
@import 'Dropdown';

.navbar {
  background: $gunmetal;

  .logo {
    padding-top: 15px;
    font-size: 2.7em;
    text-decoration: none;
    color: #bfbdc1;
  }

  .nav-item {
    padding-left: 1.5em !important;
  }

  .dropdown-menu.settings {
    min-width: 30px !important;
    left: auto !important;
  }

  // right most item, padding on nav is 16px
  .nav-rm-item {
    padding-right: 84px !important;
  }

  .nav-item,
  .nav-link {
    color: #bfbdc1 !important;
  }

  div.dropdown-item {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  div.dropdown-item:active {
    // background-color: rgba(190, 65, 65, 0.65);
    background-color: white;
  }

  .pending-item-text.no-matches {
    text-align: center;
  }

  div.dropdown-item .pending-item-text {
    flex: 8;
    color: black;
    font-weight: 500;
  }

  div.dropdown-item i {
    flex: 1;
    color: $red;
  }
}
