@import 'variables';

.Notifications {
  position: sticky;
  display: block;
  z-index: 100;
  top: 0;

  .note {
    text-align: center;
    padding: 14px;
    margin-bottom: 2px;
    background: rgba(249, 233, 64, 0.817);
    color: $gunmetal;
    font-size: 1.1em;
  }

  .note:hover {
    cursor: pointer;
  }
}
