.Profile {
  color: $gunmetal;
  background: $white;
  border-bottom: 10px solid $dark_yellow;
  border-radius: 5px;
  margin-bottom: 40px;
  max-width: 720px;

  .pfp {
    text-align: center;
    padding-bottom: 5px;
  }

  h1 {
    color: $white !important;
  }

  table {
    color: $gunmetal !important;
    width: 100%;
  }

  td {
    padding-bottom: 5px;
    width: 40px;
  }

  p {
    color: $gunmetal !important;
    padding-bottom: 5px;
  }

  .info {
    color: $dim_grey !important;
  }

  .user-info {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .profile-details {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
