.Profile {
  background: $white;
  border-bottom: 10px solid $dark_yellow;
  border-radius: 5px;
  margin-bottom: 40px;
  max-width: 720px;
  text-align: center;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;

  .pfp {
    padding-bottom: 5px;
    min-width: 350px;
    min-height: 350px;
  }

  h1 {
    color: $white !important;
  }

  p {
    color: $gunmetal !important;
    padding-bottom: 5px;
  }

  span {
    //padding-left: 0.7em;
    padding-bottom: 20px;
  }

  .info {
    color: $dim_grey !important;
  }

  .user-info {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .profile-details {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
