@import 'variables';

.Profile {
  background: white;
  border-bottom: 10px solid $dark_yellow;
  border-radius: 5px;
  margin-bottom: 40px;
  max-width: 520px;
  text-align: center;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;

  .pfp {
    min-width: 350px;
    min-height: 350px;
    // background: white;
    // q1`
  }

  img {
    border: solid $white;
    background: $white;
    border-radius: 5px;
    width: 450px;
    height: 450px;
  }
  h1 {
    color: $white !important;
  }

  p {
    color: $gunmetal !important;
    padding-bottom: 5px;
  }

  span {
    //padding-left: 0.7em;
    padding-bottom: 20px;
  }

  .info {
    padding: 5px;
    background: $white;
  }

  .user-info {
    padding-top: 10px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding: 5px;
  }

  .profile-details {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .display-name {
    // padding: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: $match_card_name_size;
    padding-top: 5px;
    text-transform: uppercase;
    border-radius:5px;
    margin-bottom: 10px;
    padding: 10px;
    background: $white;
    display:flex;
    
    h3 {
      
      color: $light_red;
      text-align: left;
      text-transform: uppercase;
      width: 50%;
      padding-top: 10px;
    }
    label {
      // text-align: center;
      padding: 5px;
      border-radius: 5px;
      color: $white;
      margin-left: 5px;
    }
    label.CN {
      background: $red;
    }
    label.NA {
      background: $blue;
    }
    label.SEA {
      background: $green;
    }
    label.JP {
      background: white;
      color: $red;
    }
    label.OCE {
      background: $purple;
    }
  }
  .star-rating {
    margin: 0 auto;
    border-radius: 5px;
    padding-top:15px;
    align-items:center;
    justify-content: left;
    display: flex;
    margin-bottom: 10px;
    margin-top:10px;
    height:35px;
  }
  .reg {
    text-align: right;
    width: 50%;
  }
  .group {
    // border: solid red;
    display:flex;
    margin-top:5px;
    background: $white;
    padding: 5px;
    border-radius: 5px;
  }
  .item {
    text-align: left;
    width: 50%;
  }
  .item2 {
    text-align: right;
    width: 50%;
  }
}
