@import 'variables';

.Registration {
  background: url('../../images/rego_bg.jpg');
  background-size: cover;
  height: 100%;
  padding: 40px;

  .title {
    text-align: center;
    font-size: 2em;
    color: $gunmetal;
  }

  .RegistrationForm {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    background: $rego_form_background;
  }

  .form-body {
    display: grid;
    grid-template: 100% 1fr / 1fr 4fr;
    margin-bottom: 10px;

    .left {
      grid-area: 1 / 1 / 1 / 1;
    }

    .right {
      padding: 12px 20px;
      grid-area: 1 / 2 / 1 / 2;
    }

    .bio {
      grid-area: 2 / 1 / 2 / 3;
      textarea {
        font-size: 1.3em;
        min-width: 100%;
        max-width: 100%;
        min-height: 300px;
      }
    }
  }

  .footer-buttons {
    background: red;
    width: 100%;
    .next {
      float: right;
    }
  }

  .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    padding: 2px 5px;
    margin-bottom: 7px;

    label {
      position: relative;
      top: 3px;
      flex: 1;
      color: $gunmetal;
      text-align: left;
      font-size: 1.3em;
    }

    input,
    select {
      box-sizing: border-box;
      flex: 3;
      font-size: 1.2em;
      padding: 3px;
    }
  }
}
