@import 'variables';
.search-input {
    padding-bottom:5px;
    border-radius: 5px;
    width: 50%;
  }
  
.SelectSearch {
  display: flex;
  padding-top: 10px;
  .results {
    
    background: $maroon;
   
    width:49.5%;
    border-radius: 5px;
    padding: 5px;
    li {
      padding: 3px;
      color: $white;
    }
  }

  .selected {
    
    padding: 5px;
    border-radius: 5px;
    width: 49.5%;
    background: $red;
    li {
      padding: 3px;
    }
  }
}

.genres {
  border: solid white;
}
