@import 'variables';
.search-input {
    padding-bottom:5px;
    border-radius: 5px;
    width: 100%;
  }
.gameList {
  display: flex;
}
.listTitle{
  display: flex;
  padding-bottom: 5px;
}
.SelectSearch {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom:10px;

  input {
    border: solid $light_grey 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
  
  .results {
    cursor: pointer;
    border:solid $light_grey 1px;
    background: $maroon;
    width:50%;
    border-radius: 2px;
    padding: 5px;
    margin-right: 3px;
    li {
      padding: 3px;
      color: $white;
    }
  }

  .select {
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    width:50%;
    background: $light_red;
    margin-left: 3px;
    border:solid $light_grey 1px;
    li {
      padding: 3px;
      color: $white;
    }
  }
}
